extends layout

include header
include local
include dscan
include blt
include activity

block content
	+header(locals.section)
	case locals.section
		when "local"
			+local()
		when "dscan"
			+dscan()
		when "blt"
			+blt()
		when "activity"
			+activity()