@import 'nib'

@import url(http://fonts.googleapis.com/css?family=Montserrat);

body
	padding: 50px
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

.wider-dropdown
	width: 300px
	padding: 10px

.navbar-inner
	background-color: #345566

.nav.navbar-nav > li > a
	color: white
	&:hover {
	 	color:white
	 	background:#999999
	}

.navbar-inverse .navbar-brand
	font-family: 'Montserrat', sans-serif;
	color: #ABCDEF
	font-size: 28px


.reverse-font
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);