@import 'nib'

@import url(http://fonts.googleapis.com/css?family=Montserrat);

body
	padding: 10px 20px 20px 20px
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

.wider-dropdown
	width: 300px
	padding: 10px

.navbar-inner
	background-color: #345566

.nav.navbar-nav > li > a
	color: white
	&:hover {
	 	color:white
	 	background:#999999
	}

.nav-tabs > li > a
	padding:5px
	height:55px

.well
	margin-bottom:10px

.navbar
	margin-bottom:10px
.navbar-inverse .navbar-brand
	font-family: 'Montserrat', sans-serif;
	color: #ABCDEF
	font-size: 28px

.node-black {
  color:#000000;
  font-size:12px;
  overflow:hidden;
  cursor:pointer;
  font-weight:bold
}

.node {
  color:#fff;
  font-size:12px;
  overflow:hidden;
  cursor:pointer;
}

.reverse-font
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);

.progress-bar
	color:black
	font-weight:bold
	background-color:#abcdef

.progress
	background-color:#f0f0f0

.alert
	margin:10px 1px 10px 1px
	padding:5px